<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinQThucHanhComputer.Properties.Settings.ComputerManagerConnectionString"
            connectionString="Data Source=DESKTOP-5UEUS4J\LEDUYEN;Initial Catalog=ComputerManager"
            providerName="System.Data.SqlClient" />
        <add name="LinQThucHanhComputer.Properties.Settings.ComputerManager_datConnectionString"
            connectionString="Data Source=DESKTOP-5UEUS4J\LEDUYEN;AttachDbFilename=|DataDirectory|\ComputerManager_dat.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="LinQThucHanhComputer.Properties.Settings.ComputerManagerConnectionString1"
            connectionString="Data Source=DESKTOP-5UEUS4J\LEDUYEN;Initial Catalog=ComputerManager;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>